@import './null.scss';
@import './variables.scss';
@import './fonts.scss';

* {
   transition: 0.3s all ease 0s;
}

html, body {
   font-family: 'Roboto', sans-serif;
	font-size: $fontSize;
   line-height: normal;
   font-weight: 400;
	color: $textDark;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.container {
   max-width: $screen;
   padding: 0px 15px;
   box-sizing: content-box;
   margin: 0 auto;
}

.divider {
   width: 100%;
   position: relative;
   &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $divider;
   }
}